{% extends 'raincheck_app/base.html' %}

{% block body_class %}about-bg{% endblock %}

{% block title %}About Us — Raincheck{% endblock %}

{% block content %}
<section class="about-section">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6">
        <div class="card about-card p-4 "  data-aos="fade-left" data-aos-once="true" data-aos-delay="250">
          <div class="card-body">
            <h2 class="card-title text-center">About Raincheck</h2>
            <p class="card-text text-center">
              At Rain Check, we make creative feel like sunshine☀️.<br> 
              We’re a team of bright minds and bold ideas 💡 obsessed with results.<br> 
              Our work blends clarity with color, heart with hustle 💖 and we never use three words when one glittery one will do ✨. <br> 
              From click to conversion, we help brands speak like humans (the clever, curious kind 🧠). <br> 
              Think strategy wrapped in ribbon 🎀, delivered with a wink 😉<br> <br>
              <a href="{% url 'contact' %}" class="btn btn-raincheck">Book a brainstorm with us today!🌈</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-4 d-flex" data-aos="fade-up" data-aos-delay="250">
          <div class="value-card card text-center p-4 w-100 text-white" >
            <h2 class="card-title">Integrity</h2>
            <p class="card-text h5">We believe in transparency, honesty, and doing what’s right for our clients—every time.</p>
          </div>
        </div>
        <div class="col-md-4 d-flex" data-aos="fade-up" data-aos-delay="500">
          <div class="value-card card text-center p-4 w-100 text-white" >
            <h2 class="card-title">Innovation</h2>
            <p class="card-text h5">We’re constantly evolving, pushing boundaries, and creating modern solutions that move brands forward.</p>
          </div>
        </div>
        <div class="col-md-4 d-flex" data-aos="fade-up" data-aos-delay="750">
          <div class="value-card card text-center p-4 w-100  text-white">
            <h2 class="card-title">Collaboration</h2>
            <p class="card-text h5">We build strong relationships—internally and with clients—because success is always a team effort.</p>
          </div>
        </div>
    </div>
  </div>
</section>

{% endblock %}
