{% extends 'raincheck_app/base.html' %}

{% block title %}Services - Raincheck{% endblock %}

{% block content %}

  <section class="service-block google-bg">
    <div class="container-fluid">  
      <div class="container py-5" data-aos="fade-right" data-aos-once="false">
          <div class="row justify-content-center">
              <div class="col-md-6">
                <div class="card text-white" style="background-color: #6482f3; border-radius: 0.75rem;">
                    <div class="card-body centered-text">
                          <h2 class="card-title">Google Ads</h2>
                          <p class="card-text">We have a proven track record of using Google Ads to drive business growth for our clients. 
                            With over 200 clients served, we have honed our expertise in crafting effective Google Ads campaigns that generate results.
                            <br></br> 
                            By leveraging the latest industry best practices and cutting-edge technology, we are able to optimize your Google Ads campaigns to achieve your business goals.
                            Whether you're looking to generate more leads or increase eCommerce sales, we work closely with you to develop a customized strategy that maximizes your ROI (return on investment). 
                            With our data-driven approach and ongoing optimization, we ensure that your Google Ads campaigns continue to perform at peak efficiency and deliver measurable results.
                          </p>
                    </div>
                </div>
              </div>
          </div>
      </div>
    </div>
  </section>

  <section class="service-block meta-bg">
    <div class="container-fluid"> 
      <div class="container py-5" data-aos="fade-left" data-aos-once="false">
          <div class="row justify-content-center">
              <div class="col-md-6">
                <div class="card text-white" style="background-color: #f9643f; border-radius: 0.75rem;">
                    <div class="card-body centered-text">
                        <h2 class="card-title">Meta Ads</h2>
                        <p class="card-text">Our team are experts in using Facebook Ads to help our clients reach their target audience and achieve their business goals. 
                            With over 2.8 billion active users on Facebook, it's a powerful platform for businesses looking to generate leads or drive ecommerce sales. 
                            <br></br>
                            We will develop a custom Facebook Ads strategy that leverages the latest targeting options and ad formats to maximize your results.
                            From highly targeted retargeting campaigns to broad-based awareness campaigns, we can create a campaign that suits your needs and budget. 
                            The consumer journey is mapped out and then translated into a Facebook ads campaign.</p>
                    </div>
                </div>
              </div>
          </div>
      </div>
    </div>
  </section>

  <section class="service-block linkedin-bg">
    <div class="container-fluid">
      <div class="container py-5" data-aos="fade-right" data-aos-once="false">
          <div class="row justify-content-center">
            <div class="col-md-6">
              <div class="card text-white" style="background-color: #00cb7f; border-radius: 0.75rem;">
                  <div class="card-body centered-text">
                      <h2 class="card-title">LinkedIn Ads</h2>
                      <p class="card-text">We have a deep understanding of how to use LinkedIn Ads to help our clients achieve their business goals. 
                        With over 700 million professional users, LinkedIn is the go-to platform for B2B lead generation and thought leadership. 
                        We have worked with a diverse range of clients to create highly effective LinkedIn Ads campaigns that deliver measurable results.
                        <br></br>
                        Our expertise in creating custom targeting options, compelling ad formats, and personalized messaging has enabled us to drive high-quality leads and engagement for our clients.. 
                        We have partnered on a Nasdaq Listed Company campaign that was recognized with an award from LinkedIn, highlighting our expertise in creating successful LinkedIn strategies and ad campaigns.</p>
                  </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </section>
<hr class="my-5">

<div class="container-fluid d-flex justify-content-between flex-wrap gap-4">
  <!-- Package 1 -->
  <div class="package-card" data-aos="fade-bottom">
    <div class="package-header">
      <h2 class="mb-0 text-center card-title">Package 1</h2>
      <h4 class="text-center text-muted mb-0 text-white">R5,000</h5>
    </div>
    <div class="package-body">
      <p class="mb-0">🌈Social ads(Meta)<br>                               
                                  🌈Account Setup<br>
                                  🌈Meta conversion campaign<br>
                                  🌈Monthly performance report(paid)<br>
                                  🌈For Start Ups<br>
                                  🌈R2,000 ad budget</p>
    </div>
  </div>

  <!-- Package 2 -->
  <div class="package-card" data-aos="fade-bottom">
    <div class="package-header">
      <h2 class="mb-0 text-center card-title">Package 2</h2>
      <h4 class="text-center text-muted mb-0 text-white">R9,000</h5>
    </div>
    <div class="package-body">
      <p class="mb-0">🌈Social and Google ads<br>
                                  🌈Account Setup<br>
                                  🌈Meta conversion campaign + Google Search or Performance Max<br>
                                  🌈Monthly reporting + campaign optimisation<br>
                                  🌈For Small Businesses<br>
                                  🌈R4,000 ad budget </p>
    </div>
  </div>

  <!-- Package 3 -->
  <div class="package-card" data-aos="fade-bottom">
    <div class="package-header">
      <h2 class="mb-0 text-center card-title">Package 3</h2>
      <h4 class="text-center text-muted mb-0 text-white">R12,000</h5>
    </div>
    <div class="package-body">
      <p class="mb-0">🌈Social and Google ads<br>
                                  🌈Account Setup<br>
                                  🌈Meta conversion campaign + full Google Ads flexibility<br>
                                  🌈Full optimisation and monthly strategy call<br>
                                  🌈Competitor monitoring + engagement strategy<br>
                                  🌈For Scaling larger<br>
                                  🌈R6,000 ad budget </p>
      </p>
    </div>
  </div>
</div>
{% endblock %}

